/* .category{
    width: 100%;
    height:auto;
    margin-top: 7rem;
    display: flex;
    justify-content:space-evenly;
}
.category a,
.category a:hover{
     text-decoration: none;

}
.category-1,
.category-1:hover{
    background-image:url("/images/icons/apple.svg");
    color: black;
}
.category-2,
.category-2:hover{
    background-image:url("/images/icons/carrot.svg");
    color: black;
}
.category-3,
.category-3:hover{
    background-image:url("/images/icons/grapes.svg");
    color: black;
}
.category-4,
.category-4:hover{
    background-image:url("/images/icons/sunflower.svg");
    color: black;
}

.category div{
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(247, 247, 247, 0.63);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-x: 50%;
    background-position-y: 10%;
    width: 17rem;
    height:17rem;
    margin: 1rem;
    padding:3rem;
    border: 2px solid black;
}

.category div:hover{
    transform: scale(1.1);
}

.cat-name{
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 10rem;
}
.category_sub{
    display: none;
}

@media screen and (max-width:1200px){
    .category{
        width: 100%;
        height:auto;
        margin-top: 7rem;
        display: flex;
        justify-content:space-evenly;
    }
    /* .category div{
        width: 10rem;
        margin: 1rem;
        padding:3rem;
        border: 2px solid black;
    } */
/* 
    .cat-name{
        font-weight: 700;
        font-size: 1rem;
        margin-top:10rem;
    }

    .category_sub{
        display: none;
    }
}

@media only screen and (max-width:900px){

    .category{
        display: none;
    }

    .category_sub{
        display:block;
    }

    .row-1 a{
        width: 100%;
        height:auto;
        margin-top: 2rem;
        display: flex;
        justify-content:space-evenly;
    }
    .row-1 div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 2px solid black;
    }

    .row-1 div:hover{
        transform: scale(1.1);
    }

    .row-2 a{
        width: 100%;
        height:auto;
        display: flex;
        justify-content:space-evenly;
    }
    .row-2 div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 2px solid black;
    }

    .row-2 div:hover{
        transform: scale(1.1);
    }

    .category-1 ,.category-2,.category-3,.category-4{
        background-repeat: no-repeat;
        background-size: 70px;
        height: 10rem;
        background-position-x: 50%;
        background-position-y: 10%;
    }

    .cat-name{
        font-weight: 700;
        font-size: 1rem;
        margin-top:5rem;
    }


}


@media only screen and (max-width:600px){

    .category{
        display: none;
    }

    .category_sub{
        display:block;
    }

    .row-1 {
        width: 100%;
        height:auto;
        margin-top: 2rem;
        display: flex;
        justify-content:space-evenly;
    }
    .row-1 div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 2px solid black;
    }

    .row-1 div:hover{
        transform: scale(1.1);
    }

    .row-2 {
        width: 100%;
        height:auto;
        display: flex;
        justify-content:space-evenly;
    }
    .row-2 div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 2px solid black;
    }

    .row-2 div:hover{
        transform: scale(1.1);
    }

    .category-1,.category-2,.category-3,.category-4{
        background-repeat: no-repeat;
        background-size: 70px;
        height: 10rem;
        background-position-x: 50%;
        background-position-y: 10%;
    }

    .cat-name{
        font-weight: 700;
        font-size: 0.7rem;
        margin-top:5rem;
    }


} */

.category{
    width: 100%;
    height:auto;
    margin-top: 7rem;
    display: flex;
    justify-content:space-evenly;
}
a:link,a:visited{
    text-decoration: none;
    color: black;
}
.category-1{
    
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/images/fruits.jpg");

}
.category-2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/images/vegetables.png");
}
.category-3{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/images/groceries.jpg");
}
.category-4{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/images/flowers.jpeg");
}

.category div{
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(247, 247, 247, 0.63);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: 50%;
    background-position-y: 10%;
    width: 17rem;
    height:17rem;
    margin: 1rem;
    padding:3rem;
    border: 2px solid black;
}

.category div:hover{
    transform: scale(1.1);
}

.cat-name{
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 10rem;
}
.category_sub{
    display: none;
}

@media screen and (max-width:1200px){

    a:link,a:visited{
    text-decoration: none;
    color: black;
}
    .category{
        width: 100%;
        height:auto;
        margin-top: 7rem;
        display: flex;
        justify-content:space-evenly;
    }
    .category div{
        width: 12rem;
        margin: 1rem;
        padding:3rem;
        border: 1px solid black;
    }

    .cat-name{
        font-weight: 700;
        font-size: 1rem;
        margin-top:10rem;
    }

    .category_sub{
        display: none;
    }
}   

@media only screen and (max-width:900px){

    .category{
        display: none;
    }

    .category_sub{
        display:block;
    }


    .row-1{
        width: 100%;
        height:auto;
        margin-top: 2rem;
        display: flex;
        justify-content:space-evenly;
    }
    .row-1 a div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 1px solid black;
    }

    .row-1 a div:hover{
        transform: scale(1.1);
    }

    .row-2{
        width: 100%;
        height:auto;
        display: flex;
        justify-content:space-evenly;
    }
    .row-2 a div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 1px solid black;
    }

    .row-2 a div:hover{
        transform: scale(1.1);
    }

    .category-1,.category-2,.category-3,.category-4{
        background-repeat: no-repeat;
        background-size: 70px;
        height: 10rem;
        background-position-x: 50%;
        background-position-y: 10%;
    }

    .cat-name{
        font-weight: 700;
        font-size: 1rem;
        margin-top:5rem;
    }


}  


@media only screen and (max-width:800px){

    .category{
        display: none;
    }

    .category_sub{
        display:block;
    }

    .row-1 a{
        text-decoration: none;
    color: black;s
    }

    .row-2 a{
        text-decoration: none;
        color: black;
    }

    .row-1 a{
        width: 50%;
        height:auto;
        margin-top: 2rem;
        display: flex;
        justify-content:space-evenly;
    }
    .row-1 a div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 1px solid black;
    }

    .row-1 a div:hover{
        transform: scale(1.1);
    }

    .row-2 a{
        width: 50%;
        height:auto;
        display: flex;
        justify-content:space-evenly;
    }
    .row-2 a div{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(247, 247, 247, 0.63);
        width: 20rem;
        margin: 1rem;
        padding:3rem;
        border: 1px solid black;
    }

    .row-2 div:hover{
        transform: scale(1.1);
    }

    .category-1,.category-2,.category-3,.category-4{
        background-repeat: no-repeat;
        background-size: 200%;
        height: 10rem;
        background-position-x: 50%;
        background-position-y: 10%;
    }

    .cat-name{
        font-weight: 700;
        font-size: 0.7rem;
        margin-top:5rem;
    }


}
