.modal-view{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-weight: 700;
}

.modal-view a div img{
    width: 7rem;
    height: 7rem;
}

.modal-view a div{
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    color: black;
}

a:link,a:visited{
    text-decoration: none;
    /* color: black; */
}

.mb-tab{
    display: none;
}

.mb-tab a:link,
.mb-tab a:visited{
     color: black;
}
/* @media screen and (max-width:1300px){
    .modal-view div img{
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
    }

    .modal-view div{
        margin: 2rem;
        padding: 1rem;
        background-color: white;
    }
} */

@media screen and (max-width:1020px){

    .modal-view a div{
        display: inline-block;
        margin: 1rem;
        padding: 1rem;
        background-color: white;
    }

}

@media screen and (max-width:920px){

    .modal-view{
        display: none;
        font-weight: 700;
    }
    .mb-tab{
        font-size: 1.2rem;
        font-weight: 700;
        display: table;
    }





}
