{%  extends 'admin/main.html' %}/

{% block content %}

{%  include 'admin/status.html' %}

<br>

<div class="row">
	
	<div class="col-md-12">
		<div class="wrap">
			<hr>
            <div class="search">
            	<form method="get">
				<h5 style="padding-left: 5rem;">Orders:</h5>
					<div style="padding-left: 5rem;">
						{{filter.form}}
						<button class="btn btn-sm btn-danger" type="submit">Search</button>
					</div>
				</form>
            </div>
        </div>
		<hr>
		
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
                    <th>Phone No:</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Total</th>
					<th>Update</th>
					<th>View Invoice</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.phoneno}}</td>
						<td>{{order.date}}</td>
						<td>{{order.status}}</td>
						<td>{{order.orderfinaltotal}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'updateorder' order.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'view' order.id %}">View</a></td>

					</tr>
				{% endfor %}


			</table>
		</div>
    </div>

</div>

{% endblock %}
