
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
     <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/loader.css' %}">
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/details.css' %}">
	<link rel="stylesheet" href="{% static 'css/heading.css' %}">
	<link rel="stylesheet" href="{% static 'css/content.css' %}">
	<link rel="stylesheet" href="{% static 'css/grid.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> -->
	<style>
		.row{
			font-family: 'Roboto' , sans-serif ;
			font-size: 16px;
			box-sizing: border-box;
			text-align: center;
		}
	  
	   .label{
			display: block;
			font-size: 18px;
			color: #264653;
			padding-left: 30%;
			padding-right: 30%;
			display: flex;
			flex-direction: column;
		  } 
	
		input[type=submit]{
			background-color: #457b9d;
			border: none;
			color: white;
			padding: 9px 18px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
			
		}
		
		input[type=submit]:hover{
			background-color: #e63946;
		}
	
	</style>	
	

</head>
<body>
	{%  include 'admin/navbar1.html' %}
	<br><br>
	<div class="container-fluid">

<br>
<div class="row" style="margin:0 auto;">
	<div class="col" >
		<div class="card card-body">

			{% if item.types != "flower"%}
			<p>Are you sure you want to delete '{{item.name}} [{{item.types}}]' ?</p>
			{% else %}
			<p>Are you sure you want to delete '{{item.name}} [{{item.category}}]' ?</p>
			{% endif %}
			<form action=# method="POST">
				
				{% csrf_token %}

				{% if item.types != "flower"%}
				<a class="btn btn-warning" href={% url 'products' %}>Cancel</a>
				{% else %}
				<a class="btn btn-warning" href={% url 'floproducts' %}>Cancel</a>
				{% endif %}

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>
<hr>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>