{%load static %}

<style>
     .nav-links1{
         display: flex;
         justify-content: space-around;
         padding-top: 1rem;
         padding-left: 1rem;
         width: 30%;
     }

     .nav-links1 li{
         list-style: none;
     }

     .nav-links1 a{
         text-decoration:none ;
         color: black;
         font-weight: 500;
     }

     .nav-links1 a:hover{
         color: seashell;
     }

</style>



  <nav>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/anchor.js' %}"></script>
    <div class="logo nav-left" style="font-weight: 200;">

      <a href="{% url 'store' %}" style="font-weight: 200;">Home</a>
      {% if  request.path != "/admin/" %}
      <a href="{% url 'home' %}"style="font-weight: 200;">Orders</a>
      {% endif %}
      {% if  request.path != "/admin/products" %}
      <a href="{% url 'products'%}"style="font-weight: 200;">Products</a>
      {% endif %}
      {% if  request.path != "/admin/updateoffer/" %}
      <a href="{% url 'updateoffer' %}"style="font-weight: 200;">Offers</a>
      {% endif %}
      {% if  request.path != "/admin/flowers" %}
      <a href="{% url 'floproducts' %}"style="font-weight: 200;">Flowers</a>
      {% endif %}
      {% if  request.path != "/admin/services" %}
      <a href="{% url 'stockservice' %}"style="font-weight: 200;">Services</a>
      {% endif %}
      {% if  request.path != "/admin/FeedBack" %}
      <a href="{% url 'feedback' %}"style="font-weight: 200;">FeedBack</a>
      {% endif %}
    </div>
    <ul class="nav-links1">
      <li></li>
      <li></li>
      <li></li>
      <li>
        <a href="#"> Hello,{{ request.user }} </a>
      </li>
      <li><a href="{% url 'logout' %}" >Logout</a></li>

    </ul>
    </div>


</nav>
