{%load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #a8dadc;
    margin-right:20px;
  }

  .mynavbar
  {
    background-color:#1d3557;
  }
  
  .logu{
    color:#a8dadc;
    margin-right:20px;   
  }
  
  .logu:hover{
        color: #e63946;
        text-decoration: none;
    }
</style>



  <nav>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/anchor.js' %}"></script>
    <div class="logo nav-left" style="font-weight: 200;">
      
      <a href="{% url 'store' %}" style="font-weight: 200;">Home</a></li>
      {% if  request.path != "/admin/" %}
      <a href="{% url 'home' %}"style="font-weight: 200;">Orders</a></li>
      {% endif %}
      {% if  request.path != "/admin/products" %}
      <a href="{% url 'products'%}"style="font-weight: 200;">Products</a></li>
      {% endif %}
      {% if  request.path != "/admin/updateoffer/" %}
      <a href="{% url 'updateoffer' %}"style="font-weight: 200;">Offers</a></li>
      {% endif %}
      {% if  request.path != "/admin/flowers" %}
      <a href="{% url 'floproducts' %}"style="font-weight: 200;">Flowers</a></li>
      {% endif %}
      {% if  request.path != "/admin/services" %}
      <a href="{% url 'stockservice' %}"style="font-weight: 200;">Services</a></li>
      {% endif %}
    </div>
    <ul class="nav-links">
      <li></li>
      <li></li>
      <li></li>
      <li>
        <a href="#"> Hello,{{ request.user }} </a>
      </li>
      <li><a href="{% url 'logout' %}" >Logout</a></li>

    </ul>
    </div>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

</nav>