{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>search page</title>
    <link rel="stylesheet" href="{% static "css/search.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    {% include 'admin/navbar1.html' %}
    <div class="wrap">
           <div class="search">
             <form method="get">
    				{{filter.form}}

            <button class="btn btn-sm btn-danger" type="submit">Search</button>
    		  </form>
           </div>
        </div>
        
    <div class="tableallign">
      <table class="table table-striped table-bordered table-hover tablewrap">
        <thead class="thead-light">
          <tr>
            <th scope="col">name</th>
            <th scope="col">price</th>

            <th scope="col">image</th>
            <th scope="col">Grade</th>
            <th scope="col">Types</th>

            <th scope="col">update</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        {% for obj in prod %}
					<tr>
						<td>{{obj.name}}</td>
                        <td>{{obj.price}}</td>
                        <td><img src="{{obj.image.url}}" alt="" width="150" height = "100"></td>
                        <td>{{obj.grade}}</td>
                        <td>{{obj.get_types_display}}</td>

                        <td><a class="btn btn-sm btn-info" href="{% url 'update' obj.id %}">Update</a></td>

                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete' obj.id %}">Delete</a></td>



					</tr>
         {% endfor %}
      </table>
    </div>
  </body>
  <script src=# charset="utf-8"></script>
</html>
