{% extends 'order/main.html' %}
{% load static %}
{% block content %}
	<!-- <div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> Rs.{{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>type</strong></div> commetn
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>type</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>Rs.{{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						{{item.product.type}}comment
						{%if item.product.type == "grams"%}
						<p class="quantity">{{item.quantity|floatformat:0}}</p>
						{%elif item.product.type == "count"%}
						<p class="quantity">{{item.quantity|floatformat:0}}</p>
						{%else%}
						<p class="quantity">{{item.quantity|floatformat:2}}</p>
						{%endif%}
						<p class="quantity">{{item.type}}</p> comment
						<div class="quantity">
							<img data-product="{{item.product.id}}"  data-type="{{item.product.type}}" data-page="not" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

							<img data-product="{{item.product.id}}" data-type="{{item.product.type}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>{{item.product.type}}</p></div>
					<div style="flex:1"><p>Rs.{{item.get_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
				{% for item in floweritems %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>Rs.{{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						{{item.product.type}comment}
						{%if item.product.category == "grams"%}
						<p class="quantity">{{item.quantity|floatformat:0}}</p>
						{%elif item.product.category == "count"%}
						<p class="quantity">{{item.quantity|floatformat:0}}</p>
						{%elif item.product.category == "maalai"%}
						<p class="quantity">{{item.quantity|floatformat:0}}</p>
						{%elif item.product.category == "bunch"%}
						<p class="quantity">{{item.quantity|floatformat:0}}</p>
						{%else%}
						<p class="quantity">{{item.quantity|floatformat:2}}</p>
						{%endif%}
						<p class="quantity">{{commentitem.type}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}"  data-type="flower" data-category="{{item.product.category}}" data-page="not" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

							<img data-product="{{item.product.id}}" data-type="flower"data-category="{{item.product.category}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>{{item.product.category}}</p></div>
					<div style="flex:1"><p>Rs.{{item.get_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div> -->


	<style media="screen">
		hr {
	             border: 0;
	             clear:both;
	             display:block;
	             width: 50%;
	             background-color:#757571;
	             height: 1px;
	           }

	</style>
	<div class="cart-basic-fix" style="margin-top: -7rem;padding:3rem 0 0 0">
            <div class="cart-basic">

                <a class="go-home" href="/"><span style='font-size:1.5rem;'>&#8592; </span>Continue shopping</a>
                <a style='font-size:1.5rem; padding:0.7rem;font-weight: 700;'>Grand Total: Rs.{{order.get_cart_total|floatformat:2}}</a>
                <a class="check-out" href="{% url 'checkout' %}"
				>Place order<span style='font-size:1.5rem;'>&#8594;</span></a>

        </div>
     </div>
	<div>
	    <div class="cart-item" style="margin-top: 10rem;">
		   <div id="table-scroll">

			   <table class="myt">

				   <tr>
					  <!-- <th>No</th> -->

					  <th class="empty-cell">
						 photo
					  </th>
					  <th>
						 Item
					  </th>

					  <th>
						 Price
					  </th>
					  <th>
						 Quantity
					  </th>
					  <th>
						 Type
					  </th>
					  <th>
						 Total
					  </th>
					  <th>

					  </th>

				</tr>
				{% for item in items %}
				<tr>
				    <!-- <td>1</td> -->

				    <td class="empty-cell">
					    {% if item.product.imageURL %}
					    <img src="{{item.product.imageURL}}" alt="product image">
					     {% else %}
						<img src="{% static 'images/default.png' %}" alt="product image">
						 {% endif %}
					   <!-- <img src="/images/product-2.jpg" alt="strawberry"> -->
				    </td>
				    <td>
					   {{item.product.name}}
				    </td>

				    <td>
					   Rs.{{item.product.price|floatformat:2}}/kg
				    </td>
				    <td>
					   <img data-product="{{item.product.id}}" data-type="{{item.product.type}}" data-action="remove" data-remove='false' class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;"src="{% static  '/images/minus.png' %}" alt="sub" srcset="">
					   {%if item.product.type == "grams"%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					   {%elif item.product.type == "count"%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					   {%else%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:2}}</span>
					   {%endif%}
					   <img  data-product="{{item.product.id}}"  data-type="{{item.product.type}}" data-page="not" data-action="add" class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;" src="{% static  '/images/plus.png' %}" alt="add" srcset="">
					</td>
				    <td>
					   {{item.product.type}}
				    </td>
				    <td>
					   Rs.{{item.get_total|floatformat:2}}
				    </td>
				    <td>
					   <img data-product="{{item.product.id}}" data-remove="true" data-type="{{item.product.type}}" data-page="not" data-action="remove" class="update-cart" style="width:1rem;height:1rem;cursor:pointer;" src="{% static  '/images/cancel.svg' %}" alt="cancel">
				    </td>
				</tr>
				{% endfor %}
				{% for item in floweritems %}

				<tr>
				    <!-- <td>1</td> -->

				    <td class="empty-cell">
					    {% if item.product.imageURL %}
 					   <img src="{{item.product.imageURL}}" alt="product image">
 					    {% else %}
 					    <img src="{% static 'images/default.png' %}" alt="product image">
 						{% endif %}
					   <!-- <img src="/images/product-2.jpg" alt="strawberry"> -->
				    </td>
				    <td>
					   {{item.product.name}}
				    </td>

				    <td>
					   Rs.{{item.product.price|floatformat:2}}/{{item.product.category}}
				    </td>
				    <td>
					    <img img data-product="{{item.product.id}}" data-type="flower"data-category="{{item.product.category}}" data-action="remove" data-remove='false' class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;"src="{% static  '/images/minus.png' %}" alt="sub" srcset="">
					   {%if item.product.category == "grams"%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					   {%elif item.product.category == "count"%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					   {%elif item.product.category == "maalai"%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					   {%elif item.product.category == "bunch"%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					   {%else%}
					   	<span style="padding: 10px;">{{item.quantity|floatformat:2}}</span>
					   {%endif%}
					   <img data-product="{{item.product.id}}"  data-type="flower" data-category="{{item.product.category}}" data-page="not" data-action="add" class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;" src="{% static  '/images/plus.png' %}" alt="add" srcset="">

				    </td>
				    <td>
					   {{item.product.category}}
				    </td>
				    <td>
					   Rs.{{item.get_total|floatformat:2}}
				    </td>
				    <td>
					   <img img data-product="{{item.product.id}}"  data-type="flower" data-remove='true' data-category="{{item.product.category}}" data-page="not" data-action="remove" class="update-cart" style="width:1rem;height:1rem;cursor:pointer;" src="{% static  '/images/cancel.svg' %}" alt="cancel">
				    </td>
				</tr>

				{% endfor %}
			   </table>


		   </div>
		</div>
	</div>

	<!-- <div> -->

		{% for item in items %}

		<div class="cart-mob">
		    <img data-product="{{item.product.id}}" data-remove="true" data-type="{{item.product.type}}" data-page="not" data-action="remove" class="update-cart cart-mob-cancel"  style="width:2rem;height:2rem;" src="{% static  '/images/cancel.svg' %}" alt="">
		    {% if item.product.imageURL %}
		    <img class="cart-mob-pic" style="width:50%;height:50%;" src="{{item.product.imageURL}}" alt="product image">
			{% else %}
			<img class="cart-mob-pic" style="width:50%;height:50%;"src="{% static 'images/default.png' %}" alt="product image">
			 {% endif %}

		    <h4 style="padding-top: 1rem;font-size:1.2rem;font-weight:700;text-align: center;">{{item.product.name}}</h4>
		    <div style="font-weight: 700; padding-bottom:1rem;">
                <!-- Rs.20 -->
			  Rs.{{item.product.price|floatformat:2}}/kg
            </div>
		    <div class="cart-mob-flex">

				  <div>
					  <img data-product="{{item.product.id}}" data-type="{{item.product.type}}" data-action="remove" class=" update-cart"  style="width:1.3rem;height:1.3rem;border:1px solid black;background-color: white;cursor:pointer;"src="{% static  '/images/minus.png' %}" alt="minus" srcset="">
					 {%if item.product.type == "grams"%}
					   <span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					 {%elif item.product.type == "count"%}
					   <span style="padding: 10px;">{{item.quantity|floatformat:0}}</span>
					 {%else%}
					   <span style="padding: 10px;">{{item.quantity|floatformat:2}}</span>
					 {%endif%}
					 <!-- <span style="padding: 10px;">100</span>
					 <span style="padding: 10px;">100</span>
					 <span style="padding: 10px;">100</span> -->
					 <img  data-product="{{item.product.id}}"  data-type="{{item.product.type}}" data-page="not" data-action="add" class="update-cart" style="width:1.3rem;height:1.3rem;border:1px solid black;background-color: white;cursor:pointer;" src="{% static  '/images/plus.png' %}" alt="plus" srcset="">
				 </div>
					 <div>
						 {{item.product.type}}
					 </div>
				  <!-- <div>
					 Rs.20

				  </div> -->
			  </div>
				  <div style="padding:1rem; font-weight: 700;">
					 Rs.{{item.get_total|floatformat:2}}
				  </div>
				  <hr>
	   </div>

		{% endfor %}
	<!-- </div> -->
		{% for item in floweritems %}
			<div class="cart-mob">
			    <img img data-product="{{item.product.id}}"  data-type="flower" data-remove='true' data-category="{{item.product.category}}" data-page="not" data-action="remove" class="update-cart cart-mob-cancel" style="width:2rem;height:2rem;" src="{% static  '/images/cancel.svg' %}" alt="">
			    {% if item.product.imageURL %}
			    <img class="cart-mob-pic" style="width:50%;height:50%;" src="{{item.product.imageURL}}" alt="product image">
				{% else %}
				<img class="cart-mob-pic" style="width:50%;height:50%;"src="{% static 'images/default.png' %}" alt="product image">
				 {% endif %}
			    <h4 style="padding-top: 1rem; text-align: center;">{{item.product.name}}</h4>
			    <div style="font-weight: 700;">
	                <!-- Rs.20 -->
				  Rs.{{item.product.price|floatformat:2}}/{{item.product.category}}
	            </div>
			    <div class="cart-mob-flex">

					  <div>
					    <img img data-product="{{item.product.id}}" data-type="flower"data-category="{{item.product.category}}" data-action="remove" data-remove='false' class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;"src="{% static  '/images/minus.png' %}" alt="sub" srcset="">
						 {%if item.product.category == "grams"%}
	   					   	<span style="padding: 5px;">{{item.quantity|floatformat:0}}</span>
	   					   {%elif item.product.category == "count"%}
	   					   	<span style="padding: 5px;">{{item.quantity|floatformat:0}}</span>
	   					   {%elif item.product.category == "maalai"%}
	   					   	<span style="padding: 5px;">{{item.quantity|floatformat:0}}</span>
	   					   {%elif item.product.category == "bunch"%}
	   					   	<span style="padding: 5px;">{{item.quantity|floatformat:0}}</span>
	   					   {%else%}
	   					   	<span style="padding: 5px;">{{item.quantity|floatformat:2}}</span>
	   					   {%endif%}
	   					   <!-- <span style="padding: 10px;">100</span>
						 <span style="padding: 10px;">100</span>
						 <span style="padding: 10px;">100</span> -->
						 <img data-product="{{item.product.id}}"  data-type="flower" data-category="{{item.product.category}}" data-page="not" data-action="add" class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;" src="{% static  '/images/plus.png' %}" alt="add" srcset="">
						</div>
					  <div>
						{{item.product.category}}
					  </div>
					  <!-- <div>
						 Rs.20
						 Rs.{{item.product.price|floatformat:2}}/{{item.product.category}}
					  </div> -->
				  </div>
					  <div style="padding:1rem; font-weight: 700;">
					 Rs.{{item.get_total|floatformat:2}}
					  </div>
					  <hr>
		   	</div>

			{% endfor %}

			<div class='hide' id ='h' style="text-align: center;margin-top: 3rem;">
	              <h4 style="padding-bottom: 3rem;color:black;font-weight: 700;">Grand Total: Rs.{{order.get_cart_total|floatformat:2}}</h4>
			    <a class="check-out" style="margin:0;" href="{% url 'store' %}"><span style='font-size:1.3rem;'>&#8592;</span>Back</a>
	              <a class="check-out" style="margin:0;" href="{% url 'checkout' %}">checkout<span style='font-size:1.3rem;'>&#8594;</span></a>
	          </div>
<br><br><br>

{% endblock content %}
