<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Cart</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/cart.css">
</head>

<body>

    <div class="main">

            <nav>
                <div class="logo">
                   <a href="#">Adhitdi Veg Court</a>
                </div>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/cart"><i class="fa" style="font-size:24px;padding-left: 1rem;">&#xf07a;</i>
                        <span class='badge badge-warning' id='count'> 5 </span></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>

        <div class="cart-basic"style="margin-top: 5rem;">
            <div>
                <a class="go-home" href="/"><span style='font-size:1.5rem;'>&#8592; </span>Continue shopping</a>

            </div>
        </div>


        <div>
            <div class="cart-item" style="margin-top: 4rem;">
                <div>
                    <table>

                        <tr>
                            <th>No</th>

                            <th class="empty-cell">
                                photo
                            </th>
                            <th>
                                Item
                            </th>

                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Total
                            </th>
                            <th>

                            </th>

                            </tr>
                        </tr>

                        <tr>
                            <td>1</td>

                            <td class="empty-cell">
                                <img src="/images/product-2.jpg" alt="strawberry">
                            </td>
                            <td>
                                Strawberry
                            </td>

                            <td>
                                20rs/g
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;" src="/images/plus.png" alt="" srcset="">
                                <span style="padding: 10px;">100</span>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;"src="/images/minus.png" alt="" srcset="">

                            </td>
                            <td>
                                g
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;" src="/images/icons/cancel.svg" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>

                            <td class="empty-cell">
                                <img src="/images/product-2.jpg" alt="strawberry">
                            </td>
                            <td>
                                Strawberry
                            </td>

                            <td>
                                20rs/g
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;" src="/images/plus.png" alt="" srcset="">
                                <span style="padding: 10px;">100</span>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;"src="/images/minus.png" alt="" srcset="">

                            </td>
                            <td>
                                g
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;" src="/images/icons/cancel.svg" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>

                            <td class="empty-cell">
                                <img src="/images/product-2.jpg" alt="strawberry">
                            </td>
                            <td>
                                Strawberry
                            </td>

                            <td>
                                20rs/g
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;" src="/images/plus.png" alt="" srcset="">
                                <span style="padding: 10px;">100</span>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;"src="/images/minus.png" alt="" srcset="">

                            </td>
                            <td>
                                g
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;" src="/images/icons/cancel.svg" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>

                            <td class="empty-cell">
                                <img src="/images/product-2.jpg" alt="strawberry">
                            </td>
                            <td>
                                Banana
                            </td>

                            <td>
                                20rs/g
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;" src="/images/plus.png" alt="" srcset="">
                                <span style="padding: 10px;">100</span>
                                <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;"src="/images/minus.png" alt="" srcset="">

                            </td>
                            <td>
                                g
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                <img style="width:1rem;height:1rem;" src="/images/icons/cancel.svg" alt="">
                            </td>
                        </tr>

                      </table>


                </div>

            </div>


        </div>

        <div class="cart-mob">
            <img class="cart-mob-cancel" style="width:2rem;height:2rem;" src="/images/icons/cancel.svg" alt="">
            <img class="cart-mob-pic" style="width:50%;height:50%;" src="/images/product-2.jpg" alt="strawberry">
            <h4 style="padding-top: 1rem;">Strawberry</h4>

            <div class="cart-mob-flex">

                    <div>
                        <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;" src="/images/plus.png" alt="" srcset="">
                        <span style="padding: 10px;">100</span>
                        <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;"src="/images/minus.png" alt="" srcset="">
                    </div>
                    <div>
                        g
                    </div>
                    <div>
                        ₹20
                    </div>
                    <div>
                        Total:₹100
                    </div>
            </div>



        </div>

        <div class="cart-mob">
            <img class="cart-mob-cancel" style="width:2rem;height:2rem;" src="/images/icons/cancel.svg" alt="">
            <img class="cart-mob-pic" style="width:50%;height:50%;" src="/images/product-2.jpg" alt="strawberry">
            <h4 style="padding-top: 1rem;">Strawberry</h4>

            <div class="cart-mob-flex">

                    <div>
                        <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;" src="/images/plus.png" alt="" srcset="">
                        <span style="padding: 10px;">100</span>
                        <img style="width:1rem;height:1rem;border:1px solid black;background-color: white;"src="/images/minus.png" alt="" srcset="">
                    </div>
                    <div>
                        g
                    </div>
                    <div>
                        ₹20
                    </div>
                    <div>
                        Total:₹100
                    </div>
            </div>



        </div>

        <div style="text-align: center;margin-top: 3rem;">
            <h4 style="padding-bottom: 3rem;font-weight: 700;">Net Total: ₹1000</h4>
            <a class="check-out" href="/checkout">checkout<span style='font-size:1.3rem;'>&#8594;</span></a>
        </div>




    <script src="js/navbar.js"></script>
    <script src="js/anchor.js"></script>
</body>
</html>
