{% extends 'order/main.html' %}
{% load static %}
{% block content %}


    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/mater.css' %}">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->


    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- <script>
       $(document).ready(function() {
          $('select').material_select();
       });
    </script> -->

    <style media="screen">

      .info1{
        font-weight: bolder;
        text-align: center;
        /* padding: 10px; */
      }

      .info1:first-child{
        float: right;
      }

      .info{
        margin-top: 5rem;
      }

      .container .info1{
        width: 20%;
        padding: 1%;
      }

      @media only screen and (max-width: 601px) {
        .container .info1{
          width: 35%;
        }
}
    </style>


  <body>
       <!-- <nav class="nav-head">
 	    <div class="logo">
 		  <a href="{% url 'store' %}">Adhithi Veg Court</a>
 	    </div>
 	    <ul class="nav-links">
 		   <li><a href="{% url 'store' %}">Home</a></li>
 		   <li><a href="{% url 'checkout' %}">Place Your Order</a></li>
 		   <li><a href="#">About</a></li>
 		   <li><a href="{% url 'cart' %}"><i class="fa" style="font-size:24px;padding-left: 1rem;">&#xf07a;</i>
 			  <span class='badge badge-warning' id='count'> {{cartItems}} </span></a></li>
 			  <li><a href="{% url 'cart' %}">Rs.{{order.get_cart_total|floatformat:2}}</a></li>
 		   <li><a href="#"></a></li>
 		   <li><a href="#"></a></li>
 		   <li><a href="#"></a></li>
 	    </ul>
 	    <div class="burger">
 		   <div class="line1"></div>
 		   <div class="line2"></div>
 		   <div class="line3"></div>
 	    </div>
 	</nav> -->

    <div class="center-align container info">
      <div class="z-depth-3 info1">Items in Cart : {{cartItems}}</div>
      <div class="z-depth-3 info1">Total Amount : Rs.{{order.get_cart_total|floatformat:2}}/-</div>
    </div>

    <!-- <div class="center-align container info total">
      <p class="z-depth-3">Total Amount : 135/-</p>
    </div> -->

   <div class="container center-align">

     <div class="row z-depth-2" style="margin-top: 5rem;display:block;">

       <img src="{% static 'images/place-order.png' %}" alt="Place Order" style="width: 10%; margin-top: 1%;margin-bottom:3%">
       <hr>
       <div class="">
            {{warning}}
       </div>
         <form class="col s12" method="post">
              {% csrf_token %}
           <div class="row" style="display:block;">

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">account_circle</i>
               <!-- <input id="icon_prefix" type="text" class="validate"> -->
               {{checkout_data_form.name}}
               <label for="icon_prefix">Name</label>
             </div>

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">phone</i>
               <!-- <input id="icon_telephone" type="tel" class="validate"> -->
               {{checkout_data_form.phoneno}}
               <label for="icon_telephone">Telephone</label>
             </div>

             <div class="input-field col s12 m6" >
               <i class="material-icons prefix">add_location</i>
               <!-- <textarea id="textarea1" class="materialize-textarea"></textarea> -->
               {{checkout_data_form.address}}
               <label for="textarea1">Address</label>
              </div>

              <div style="margin-top:0;" class="input-field col s12 m6">
                <label style="position:relative">Select Your Area</label>
                <div class="" style="margin-top:1.5rem; margin:1rem 20%;" >
                     {{checkout_data_form.area }}

                </div>
              </div>

            </div>
            {% if order.get_cart_total > 200 %}
            <div class="input-field col s12 ">
              <button class="btn waves-effect waves-light" type="submit" name="action">
                Place Order!
                <i class="material-icons right">send</i>
              </button>
            </div>
            {% else %}
            <div class="input-field col s12 ">
              <button class="btn waves-effect waves-light" type="submit" name="action">
                <strike>Place Order!</strike>
                <i class="material-icons right">send</i>
              </button>
            </div>
            {% endif  %}
         </form>
       </div>
     </div><!-- container -->
     <div class="foot_er-1">
      <!-- <p style="font-size: 1rem;">&copy;</p> -->
  
  
  
  
     <div class="sub-footer"  style="text-align: center;">
         <div>Concept & Design by Buddies Tech</div>
     <div style="padding: 1rem;"><a style="text-decoration: none;color:black;" href="https://buddiestech.herokuapp.com" target="_blank" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='black'">Visit us @ BuddiesTech</a></div>
  
    <a class="foot_er-a" href="https://twitter.com/BuddiesTech1?s=09" target="_blank"><i class="fa fa-twitter"></i></a>
     <a class="foot_er-a" href="https://m.facebook.com/buddiestech.buddiestech.9" target="_blank"><i class="fa fa-facebook"></i></a>
     <a class="foot_er-a" target="_blank" href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQGAcN3LRr-w5wAAAXRtnA6Q5Je9BlMNEH2nHuKJfWDAfC4Qlwf8YxaCQ2_JoYa9956ItawQ2o-_G8ITsVnQ3eCJoCwSVNotfW1VzI2bqA3mn6ykJrvgncoGOnrI1rrLVxaqvz8=&originalReferer=http://buddiestech.herokuapp.com/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fbuddies-tech-30326a1a7"><i class="fa fa-linkedin"></i></a>
     </div>
  
  
  </div>
  
  

  </body>
{% endblock content %}
