<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="foot_er.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="foot_er-1">
        <!-- <p style="font-size: 1rem;">&copy;</p> -->



      
          <div class="sub-footer"  style="text-align: center;">
                    <div>Concept & Designed by Buddies Tech</div>
          <div style="padding: 1.5rem;"><a style="text-decoration: none;color:black;" href="buddiestech.herokuapp.com" target="_blank" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='black'"> BuddiesTech</a></div>
          
         <a class="foot_er-a" href="https://twitter.com/BuddiesTech1?s=09"><i class="fa fa-twitter"></i></a>
          <a class="foot_er-a" href="https://m.facebook.com/buddiestech.buddiestech.9"><i class="fa fa-facebook"></i></a>
          <a class="foot_er-a" href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQGAcN3LRr-w5wAAAXRtnA6Q5Je9BlMNEH2nHuKJfWDAfC4Qlwf8YxaCQ2_JoYa9956ItawQ2o-_G8ITsVnQ3eCJoCwSVNotfW1VzI2bqA3mn6ykJrvgncoGOnrI1rrLVxaqvz8=&originalReferer=http://buddiestech.herokuapp.com/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fbuddies-tech-30326a1a7"><i class="fa fa-linkedin"></i></a>
          </div>


    </div>
</body>
</html>