<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Adhithi</title>


     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
     <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static 'css/loader.css' %}">
     <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
     <link rel="stylesheet" href="{% static 'css/details.css' %}">
     <link rel="stylesheet" href="{% static 'css/heading.css' %}">
     <link rel="stylesheet" href="{% static 'css/content.css' %}">
     <link rel="stylesheet" href="{% static 'css/grid.css' %}">
     <link rel="stylesheet" href="{% static 'css/cart.css' %}">
     <link rel="stylesheet" href="{% static 'css/modals.css' %}">




	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))
		var flower = JSON.parse(getCookie('flower'))
		if (cart == undefined ){
			cart = {}
			// flower = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
			// document.cookie ='flower=' + JSON.stringify(flower) + ";domain=;path=/"
		}
		if (flower == undefined){
			flower = {}
			document.cookie ='flower=' + JSON.stringify(flower) + ";domain=;path=/"
		}
		console.log('Cart', cart,'flower',flower)

	</script>


	<!-- <style>
        .container {
            min-height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #locator-input-section {
            width: 100%;
            margin: 10px;
            max-width: 600px;

        }
    </style> -->
</head>
<body>
<div class="main">

	<nav class="nav-head">
	    <div class="logo">
		  <a href="{% url 'store' %}">Adhithi Veg Court</a>
	    </div>
	    <ul class="nav-links">
		   <li><a href="{% url 'store' %}">Home</a></li>
		   <!-- <li><a href="{% url 'checkout' %}">Place Your Order</a></li> -->
		   <li><a href="#adithi">About</a></li>
		   <li><a href="{% url 'cart' %}"><i class="fa" style="font-size:24px;padding-left: 1rem;">&#xf07a;</i>
			  <span style="color:white;background-color:#212529;" class='badge' id='count'> {{cartItems}} </span></a></li>
			  <li><a href="{% url 'cart' %}">₹{{order.get_cart_total|floatformat:2}}</a></li>
		   <li><a href="#"></a></li>
		   <li><a href="#"></a></li>
		   <li><a href="#"></a></li>
	    </ul>
	    <div class="burger">
		   <div class="line1"></div>
		   <div class="line2"></div>
		   <div class="line3"></div>
	    </div>
	</nav>


     <!-- <div class="container"> -->
            <!-- <br> -->
            {% block content %}


            {% endblock content %}
         <!-- </div> -->

	    <footer>

	      <nav class="nav-foot" style="transition:0.4s;">
	        <a class="nav-foot-a fa" style="text-decoration:none;font-size:1.5rem;"href="{% url 'store' %}">&#xf015;<span></span></a>
	        <a class="nav-foot-a fa" id="myBtn" style="font-size:1.5rem;"  href="#"> &#xf00b;<span></span></a>
	        <a class="nav-foot-a fa" style="text-decoration:none;font-size:1.5rem;" href="{% url 'cart' %}">&#xf07a;<span class='badge badge-warning' id='count'> {{cartItems}} </span> <span></span></i>
	        </a>
	        <a class="nav-foot-a fa"href="#" style="text-decoration:none;font-weight:500;">&#xf156; <span>{{order.get_cart_total|floatformat:2}}</span></a>
	      </nav>

	    </footer>
	    <style>
	    td{
		    background-color: transparent;
	    }
	    .modal {
	      display: none; /* Hidden by default */
	      position: fixed; /* Stay in place */
	      z-index: 1; /* Sit on top */
	      /* padding-top: 3rem; */
	      left: 0;
	      top: 0;
	      width: 100%; /* Full width */
	      height: 100%; /* Full height */
	      overflow: auto; /* Enable scroll if needed */
	      background-color: rgb(0,0,0); /* Fallback color */
	      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	    }

	    /* Modal Content */
	    .modal-content {
	      background-color: #fefefe;
	      margin: auto;
	      padding: 20px;
	      border: 1px solid #888;
	      width: 90%;
	    }

	    /* The Close Button */
	    .close {
	      color: #aaaaaa;
	      float: right;
	      font-size: 28px;
	      font-weight: bold;
	    }

	    .close:hover,
	    .close:focus {
	      color: #000;
	      text-decoration: none;
	      cursor: pointer;
	    }
	    </style>

	    <!-- <h2>Modal Example</h2> -->

	    <!-- Trigger/Open The Modal -->
	    <!-- <button id="myBtn">Open Modal</button> -->

	    <!-- The Modal -->
	    <div style="margin-top:3rem;" id="myModal" class="modal" >

	      <!-- Modal content -->
	      <div class="modal-content" style="text-align: center; background-color: rgb(255, 255, 255);">
	        <span style="width:2rem; height:2rem; color: white; background-color: black; border-radius: 100px;margin-left:90%;" class="close">&times;</span>
	        <h3 style="margin:.5rem;padding-bottom:1rem;">All Categories</h3>
	        <div style="background-color: #a19f9f; border-radius: 20px;">
	                <div class="modal-view">
	                    <a href="{% url 'vegetables' %}"><div>
	                        <img  src="{% static 'images/vegetablescat.png' %}" alt="" srcset="">
	                        <p>Vegetables</p>
	                    </div></a>

	                    <a href="{% url 'fruits' %}"><div>
	                        <img  src="{% static 'images/fruit-free-2198378_640.png' %}" alt="" srcset="">
	                        <p>Fruits</p>
	                    </div></a>

	                    <a href="{% url 'flowers' %}"><div>
	                        <img  src="{% static 'images/12flower.jpg' %}" alt="" srcset="">
	                        <p>Flowers</p>
	                    </div></a>

	                    <a href="{% url 'groceries' %}"><div>
	                        <img  src="{% static 'images/grocery.jpg' %}" alt="" srcset="">
	                        <p>Groceries</p>
	                    </div></a>
	            </div>

	            <div class="modal-view">
	              <a href="{% url 'oils' %}"><div>
	                  <img  src="{% static 'images/6oil.jpeg' %}" alt="" srcset="">
	                  <p>Oils</p>
			   </div></a>

	              <a href="{% url 'nuts' %}"><div>
	                  <img  src="{% static 'images/nuts.jpg' %}" alt="" srcset="">
	                  <p>Nuts</p>
	              </div></a>

	              <a href="{% url 'daals' %}"><div>
	                  <img  src="{% static 'images/5dals.jpeg' %}" alt="" srcset="">
	                  <p>Daals</p>
	              </div></a>

	              <a href="{% url 'homecare' %}"><div>
	                  <img  src="{% static 'images/7home.webp' %}" alt="" srcset="">
	                  <p>Home-care</p>
	              </div></a>
	      </div>
	            <div class="modal-view">
	              <a href="{% url 'babycare' %}"><div>
	                  <img  src="{% static 'images/8baby.png' %}" alt="" srcset="">
	                  <p>Baby-care</p>
	              </div></a>

	              <a href="{% url 'personalcare' %}"><div>
	                  <img  src="{% static 'images/9personal.png' %}" alt="" srcset="">
	                  <p>Personal-care</p>
	              </div></a>

	              <a href="{% url 'beverages' %}"><div>
	                  <img  src="{% static 'images/8beverage.png' %}" alt="" srcset="">
	                  <p>Beverages</p>
	              </div></a>

	              <a href="{% url 'snacks' %}"><div>
	                  <img  src="{% static 'images/11snack.png' %}" alt="" srcset="">
	                  <p>Snacks</p>
	              </div></a>
	      </div>


	                    <table class="mb-tab" style="margin:0 auto;" cellspacing="20px">
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'vegetables' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/vegetablescat.png' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'vegetables' %}"><li style="list-style: none;"><p style="justify-items: left; margin-top:1rem;">Vegetable</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'fruits' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/fruit-free-2198378_640.png' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'fruits' %}"><li style="list-style: none;"><p style="justify-items: left; margin-top:1rem;">Fruits</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'flowers' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/12flower.jpg' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'flowers' %}"><li style="list-style: none;"><p style="margin-top:1rem;">Flower</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'groceries' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/grocery.jpg' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'groceries' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Grocery</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'oils' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/6oil.jpeg' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'oils' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Oil</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'nuts' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/nuts.jpg' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'nuts' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Nuts</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'daals' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/5dals.jpeg' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'daals' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Daals</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'homecare' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;" src="{% static 'images/7home.webp' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'homecare' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Home-care</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'babycare' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/8baby.png' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'babycare' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Baby-care</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'personalcare' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/9personal.png' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'personalcare' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Personal-care</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'beverages' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/8beverage.png' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'beverages' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Beverage</p></li></a></td>
	                      </tr>
	                      <tr style="border-bottom:1px solid black;">
	                        <td> <a href="{% url 'snacks' %}"><li style="list-style: none;"><img style="width: 3.5rem; background-color: transparent;"src="{% static 'images/11snack.png' %}" alt=""></li></a></td>
	                        <td><a href="{% url 'snacks' %}"><li style="list-style: none; "><p style="margin-top:1rem;">Snack</p></li></a></td>
	                      </tr>
	                    </table>




	        </div>
	      </div>

	    </div>

	    <script>
	    // Get the modal
	    var modal = document.getElementById("myModal");

	    // Get the button that opens the modal
	    var btn = document.getElementById("myBtn");


	    // Get the <span> element that closes the modal
	    var span = document.getElementsByClassName("close")[0];

	    // When the user clicks the button, open the modal
	    btn.onclick = function() {
	      modal.style.display = "block";
	    }

	    

	    // When the user clicks on <span> (x), close the modal
	    span.onclick = function() {
	      modal.style.display = "none";
	    }

	    // When the user clicks anywhere outside of the modal, close it
	    window.onclick = function(event) {
	      if (event.target == modal) {
	        modal.style.display = "none";
	      }
	    }
	    </script>



   </div>



	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'js/anchor.js' %}"></script> -->
	<script src="{% static 'js/slick.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>
