{% extends 'order/main.html' %}
{% load static %}
{% block content %}




	<div class="head" style="margin-top:1rem;">
	    <div class="head-search" style="margin-top:2.5rem;">
		   <header>
			  <div class="searchbar">
				 <div class="search">
					<!-- <input plac\eholder="What are you looking for?"> -->
					<form method="get">
						   <i class="fa fa-search"></i>
						 <!-- <button style="width:20px;height:20p" class="btn btn-sm btn-danger" type="submit"><i class="fa"></i></button> -->
						 {{filter.form.productname}}
						 <button type="submit" href="#grid" class="fa-search-2"  style="border:0px;background-color:rgb(238, 231, 221);border-radius:3rem;">&#x2794;</button>
				   </form>
				 </div>
			  </div>

		   </header>
				<div class="category">
                      <a href="{% url 'fruits' %}" style="color:aliceblue;text-decoration:none;"><div class="category-1"><section class="cat-name">Fruits</section></div></a>
                       <a href="{% url 'vegetables' %}" style="color:aliceblue;text-decoration:none;"><div class="category-2"><section class="cat-name">Vegetables</section></div></a>
                       <a href="{% url 'groceries' %}" style="color:aliceblue;text-decoration:none;"><div class="category-3"><section class="cat-name">Groceries</section></div></a>
                       <a href="{% url 'flowers' %}" style="color:aliceblue;text-decoration:none;"><div class="category-4"><section class="cat-name">Flowers</section></div></a>
                   </div>
                   <div class="category_sub">
                    <div class="row-1">
                      <a href="{% url 'fruits' %}" style="color:aliceblue;"><div class="category-1"><section class="cat-name">Fruits</section></div></a>
                      <a href="{% url 'vegetables' %}" style="color:aliceblue;"><div class="category-2"><section class="cat-name">Vegetables</section></div></a>
                    </div>

                    <div class="row-2">
                      <a href="{% url 'groceries' %}" style="color:aliceblue;"><div class="category-3"><section class="cat-name">Groceries</section></div></a>
                      <a href="{% url 'flowers' %}" style="color:aliceblue;"><div class="category-4"><section class="cat-name">Flowers</section></div></a>
                    </div>

                </div>
			 <a class="header-bottom" id="myBtn1"  href="#">More categories</a>
	<!-- <div class="row"> -->
		<!-- <th><h5>Total:<strong> Rs.{{order.get_cart_total|floatformat:2}}</strong></h5></th><br> -->


		<div class="container-fluid" style="margin-top: 2rem;" id="grid">
			<div class="row" style="background-color: rgb(255, 255, 255);padding: 0;">
				{% for product in products %}
				<div class="col border-right" >
                      <div class="grid-img">
					  <a href="{% url 'viewproduct' product.id %}" class="product">
						{% if product.image %}
	                        <img src="{{product.image.url}}" alt="Onion!" class="rounded">
					    {% else %}
					    <img src="{% static 'images/default.png' %}" alt="Onion!"  class="rounded">
					    {% endif %}
					  </a>
				  </div>
                        <br>
				    <div style="padding:0.4em;padding-bottom:0" >{{product.name}}</div>
				    <!-- <br> -->
                        <div class="ctrl-btn" style="padding:0.5rem;">
					 <h6 style="padding-left: 30px; padding-top:0px;"><s>Rs.{{product.market_price}}</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>Rs.{{product.our_price}}</strong></span></h6>
					 <hr style="margin:0.5rem;">
                          <button type="button" data-product="{{product.id}}" data-action="add" data-page="home" data-type="{{product.types}}"  name="add-to-cart" class="btn btn-info add-btn update-cart" style="display: inline;">Add to Cart</button>
                          <!-- <a  href="{% url 'viewproduct' product.id %}" style="display: inline;">View</a> -->
                          <div class="dropdown" style="display: inline; padding-left: 3rem;">
                            <select class="btn btn-outline-warning btn-sm  dropdown-toggle"  id="{{product.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="dropdown-menu" >
						<option class="dropdown-item" value="{{product.get_types_display}}">{{product.get_types_display}}</option>
						{% if product.get_types_display != "count" %}
	   						{% for i in list %}
	   						   <!-- <option value="{{ i }}">{{ i }} grams</option> -->
							   <option class="dropdown-item" value="{{i}}">{{i}} gm</option>
	   						{% endfor %}
	   					{% endif %}

                            </div>
				   		</select>
                          </div>
                        </div>
                      </div>
    			{% endfor %}
		   </div>
		 </div>






	<div class="container-fluid" id="grid">

		<div class="row" style="background-color: rgb(255,255,255);padding: 0 20px;">
			{% for flower in flowers %}
			<div class="col">
			  <div class="grid-img">

				  <a href="{% url 'viewflower' flower.id %}" class="product">
					  {% if flower.image %}
       				   <img src="{{flower.image.url}}" alt="Onion!"  class="rounded">
       				   {% else %}
       				   <img src="{% static 'images/default.png' %}" alt="Onion!" class="rounded">
       				   {% endif %}
                        <!-- <img src="{{flower.image.url}}" alt="Onion!" style="width: 300px;height: 250px;" class="rounded"> -->
                      </a>

			    </div>
			    <br>
			    <div class="ctrl-btn">
				 <button type="button" data-product="{{flower.id}}" data-action="add" data-category="{{flower.category}}" data-page="home" data-type="{{flower.types}}"  name="add-to-cart" class="btn btn-info add-btn update-cart" style="display: inline;">Add to Cart</button>
				 <!-- <a  href="{% url 'viewflower' flower.id %}" style="display: inline;">View</a> -->
				 <div class="dropdown" style="display: inline; padding-left: 75px;">
					 <button class="btn btn-outline-warning btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{flower.category}}</button>
				 </div>
				 <hr>
				 <h6 style="padding-left: 30px; padding-top:0px;"><s>Rs.{{flower.market_price}}</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>Rs.{{flower.our_price}}</strong></span></h6>
			    </div>
			  </div>
		{% endfor %}
		</div>
	   </div>
	</div>
</div>

<script type="text/javascript">
	var btn1 = document.getElementById("myBtn1");

	btn1.onclick = function() {
	  modal.style.display = "block";
	}
</script>

{% endblock content %}
