<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adhithi</title>

    <link rel="icon" href="/images/icons/logo.jpg" type="image/gif" sizes="16x16">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery`/3.1.1/jquery.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/grid.css">

</head>
<body>

    <div class="main">

            <nav class="nav-head">
                <div class="logo">
                   <a href="#">Adhithi Veg Court</a>
                </div>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/cart"><i class="fa" style="font-size:24px;padding-left: 1rem;">&#xf07a;</i>
                        <span class='badge badge-warning' id='count'> 5 </span></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>



<!-- Banner Starts Here -->
              <div class="main-banner header-text" id="top" style="margin-top:3rem;">
                  <div class="Modern-Slider">
                    <!-- Item -->
                    <div class="item item-1">
                      <div class="img-fill">
                          <div class="text-content">
                            <h4>Daily fresh Vegetables on your budget</h4>
                            <p>We assure that you are getting daily fresh vegetables less than nearby shop budget.</p>
                            <a href="#adithi" class="btn btn-outline-warning">Contact us</a>
                          </div>
                      </div>
                    </div>
                    <!-- // Item -->
                    <!-- Item -->
                    <div class="item item-2">
                      <div class="img-fill">
                          <div class="text-content">
                            <h4>On time delivery</h4>
                            <p>We ensure that your order will be reached to you on time. Available When you want at you Price & at Your Home!</p>
                            <a href="#adithi" class="btn btn-outline-warning">About us!</a>
                          </div>
                      </div>
                    </div>
                    <!-- // Item -->
                    <!-- Item -->
                    <div class="item item-3">
                      <div class="img-fill">
                          <div class="text-content">
                            <h4>From The Farm Today. To Your Home Tomorrow.</h4>
                            <p>Make your booking Faster! Get your order light Faster..!!</p>
                            <a href="#adithi" class="btn btn-outline-warning">Read more</a>
                          </div>
                      </div>
                    </div>
                    <!-- // Item -->
                  </div>
              </div>
              <!-- Banner Ends Here -->

              <div id="adithi">

              </div>

              <section class="features" style="background-color: rgb(243, 239, 233); padding-top: 1.5rem;">

                <div class="crow">
                  <h2>Adhithi Veg Corp</h2>
                  <p class="process">
                      We are an Online Groceries, Fruits and Vegetables market in Erode. We are the first online Flowerist in Erode.<br> Adhithi Veg corp is established On 22nd Aug 2020.
                  </p>
                </div>

                <div id="about-extra">

                </div>

                <!-- About Content -->
                <div class="crow">
                  <div class="ccol span-1-of-4 box" style="padding: 1rem;">
                    <ion-icon name="alert-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
                    <h3>Why We are?</h3>
                    <p>
                      We supply Variety of Products with Best Quality. Products are Delivered at your Doorstep. Promising Value for Money. 100% farm to Kitchen.
                    </p>
                  </div>

                  <div class="ccol span-1-of-4 box">
                    <ion-icon name="refresh-circle-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
                    <h3>Fresh Products Everyday</h3>
                    <p>
                      We assure you that we should deliver fresh Vegetables & Fruits only. We procure the vegetables on everyday early morning on fresh.
                    </p>
                  </div>

                  <div class="ccol span-1-of-4 box">
                    <ion-icon name="information-circle-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
                    <h3>What You Get from Us!</h3>
                    <p>
                       We’ve taken away all the stress associated with shopping for daily essentials, and you can now order all your household products and groceries online without travelling long distances or standing in serpentine queues.
                    </p>
                  </div>

                  <div class="ccol span-1-of-4 box">
                    <ion-icon name="return-down-back-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
                    <h3>Easy Return Policy</h3>
                    <p>
                      Returning or Replacement of Products is only Available, When the Delivered Products are found to be Damaged. The Customer must Contact us within 12hours from Delivery.
                     </p>
                  </div>

                </div>

                <div id="point">

                </div>

                <div class="crow">
                  <h2>Process & Delivery Point</h2>
                  <p class="process">
                    We are taking the order on the Current day upto 10:00 pm and the products will be delivered on or before 10:00 am, the next morning. Currently, we are delivering for below pin codes :-) <br> <br> <strong>638 001, 638 002, 638 003, 638 004, 638 009, 638 011, 638 012.</strong>
                  </p>
                </div>

              </section>


            <div class="head">
                <div class="head-search" >
                    <header>
                        <div class="searchbar">
                            <div class="search">
                                
                                <input type="text" placeholder="&#xF002; What are you looking for?" style="font-family:Arial, FontAwesome" />
                                <a href="#"class="fa-search-2">&#x2794;</a>
                            </div>
                        </div>

                    </header>

                    <div class="category">
                        <div class="category-1"><section class="cat-name">Fruits</section></div>
                        <div class="category-2"><section class="cat-name">Vegetables</section></div>
                        <div class="category-3"><section class="cat-name">Groceries</section></div>
                        <div class="category-4"><section class="cat-name">Flowers</section></div>
                    </div>
                    <div class="category_sub">
                        <div class="row-1">
                            <div class="category-1" onclick="location.href='index.html'" ><section class="cat-name">Fruits</section></div>
                            <div class="category-2" onclick="location.href='#grid'"><section class="cat-name">Vegetables</section></div>
                        </div>

                        <div class="row-2">
                            <div class="category-3" onclick="location.href='#grid'"><section class="cat-name">Groceries</section></div>
                            <div class="category-4" onclick="location.href='#grid'"><section class="cat-name">Flowers</section></div>
                        </div>
                    </div>
                    <a style="color: white;"class="header-bottom"href="#grid">More categories</a>
            </div>

            <div class="container-fluid" id="grid" >

                <div class="row" style="background-color: rgb(243, 239, 233);">

                  <div class="col ">

                    <div class="grid-img">
                      <a href="#" class="product">
                        <img src="images/product-2.jpg" alt="Onion!" style="width: 300px;height: 250px;" class="rounded">
                      </a>
                    </div>
                    <br>
                    <div class="ctrl-btn">
                      <button type="button" name="add-to-cart" class="btn btn-info" style="display: inline;">Add to Cart</button>
                      <div class="dropdown" style="display: inline; padding-left: 75px;">
                        <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quantity</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">250 gm</a>
                          <a class="dropdown-item" href="#">500 gm</a>
                          <a class="dropdown-item" href="#">750 gm</a>
                          <a class="dropdown-item" href="#">1 kg</a>
                        </div>
                      </div>
                      <hr>
                      <h6 style="padding-left: 30px; padding-top:0px;"><s>₹48.0</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹40.0</strong></span></h6>
                    </div>
                  </div>

                  <div class="col ">

                    <div class="grid-img">
                      <img src="images/product-2.jpg" alt="Onion!" style="width: 300px;height: 250px;" class="rounded">
                    </div>
                    <br>
                    <div class="ctrl-btn">
                      <button type="button" name="add-to-cart" class="btn btn-info" style="display: inline;">Add to Cart</button>
                      <div class="dropdown" style="display: inline; padding-left: 75px;">
                        <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quantity</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">250 gm</a>
                          <a class="dropdown-item" href="#">500 gm</a>
                          <a class="dropdown-item" href="#">750 gm</a>
                          <a class="dropdown-item" href="#">1 kg</a>
                        </div>
                      </div>
                      <hr>
                      <h6 style="padding-left: 30px; padding-top:0px;"><s>₹48.0</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹40.0</strong></span></h6>
                    </div>
                  </div>

                  <div class="col ">

                    <div class="grid-img">
                      <img src="images/product-2.jpg" alt="Onion!" style="width: 300px;height: 250px;" class="rounded">
                    </div>
                    <br>
                    <div class="ctrl-btn">
                      <button type="button" name="add-to-cart" class="btn btn-info" style="display: inline;">Add to Cart</button>
                      <div class="dropdown" style="display: inline; padding-left: 75px;">
                        <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quantity</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">250 gm</a>
                          <a class="dropdown-item" href="#">500 gm</a>
                          <a class="dropdown-item" href="#">750 gm</a>
                          <a class="dropdown-item" href="#">1 kg</a>
                        </div>
                      </div>
                      <hr>
                      <h6 style="padding-left: 30px; padding-top:0px;"><s>₹48.0</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹40.0</strong></span></h6>
                    </div>
                  </div>

                  <div class="col ">

                    <div class="grid-img">
                      <img src="images/product-2.jpg" alt="Onion!" style="width: 300px;height: 250px;" class="rounded">
                    </div>
                    <br>
                    <div class="ctrl-btn">
                      <button type="button" name="add-to-cart" class="btn btn-info" style="display: inline;">Add to Cart</button>
                      <div class="dropdown" style="display: inline; padding-left: 75px;">
                        <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quantity</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">250 gm</a>
                          <a class="dropdown-item" href="#">500 gm</a>
                          <a class="dropdown-item" href="#">750 gm</a>
                          <a class="dropdown-item" href="#">1 kg</a>
                        </div>
                      </div>
                      <hr>
                      <h6 style="padding-left: 30px; padding-top:0px;"><s>₹48.0</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹40.0</strong></span></h6>
                    </div>
                  </div>

                  <div class="col ">

                    <div class="grid-img">
                      <img src="images/product-2.jpg" alt="Onion!" style="width: 300px;height: 250px;" class="rounded">
                    </div>
                    <br>
                    <div class="ctrl-btn">
                      <button type="button" name="add-to-cart" class="btn btn-info" style="display: inline;">Add to Cart</button>
                      <div class="dropdown" style="display: inline; padding-left: 75px;">
                        <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quantity</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">250 gm</a>
                          <a class="dropdown-item" href="#">500 gm</a>
                          <a class="dropdown-item" href="#">750 gm</a>
                          <a class="dropdown-item" href="#">1 kg</a>
                        </div>
                      </div>
                      <hr>
                      <h6 style="padding-left: 30px; padding-top:0px;"><s>₹48.0</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹40.0</strong></span></h6>
                    </div>

                  </div>
                </div>
              </div>

        </div>
      </div>

      <footer>

        <nav class="nav-foot">
          <!-- <ul class="nav-links">
            <li>
              <div class="home">
                <a href="#">Home</a>
              </div>
            </li>

            <li>
              <div class="home">
                <a href="#">Home</a>
              </div>
            </li>

            <li>
              <div class="home">
                <a href="#">Home</a>
              </div>
            </li>

            <li>
              <div class="home">
                <a href="#">Home</a>
              </div>
            </li>
          </ul> -->
          <a class="nav-foot-a fa"href="/">&#xf015;<span></span></a>
          <a class="nav-foot-a fa" href="/category"> &#xf00b;<span></span></a>
          <a class="nav-foot-a fa" href="/cart">&#xf07a;<span class='badge badge-warning' id='count'> 5 </span> <span></span></i>
          </a>
          <a class="nav-foot-a fa"href="#">&#xf156; <span>Total</span></a>
        </nav>

      </footer>

        <!-- <div class="preloader">
            <div id="load"></div>

        </div> -->
    <script src="js/navbar.js"></script>
    <script src="js/anchor.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>
