{% extends 'order/main.html' %}
{% load static %}
{% block content %}

	<div class="main-banner header-text" id="top" style="margin-top:3rem;">
	    <div class="Modern-Slider">
		 <!-- Item -->
		 <div class="item item-1">
		   <div class="img-fill">
			  <div class="text-content">
			    <h4>Daily fresh Vegetables on your budget</h4>
			    <p>We assure that you are getting daily fresh vegetables less than nearby shop budget.</p>
			    <a href="#adithi" class="btn btn-outline-warning" >Contact us</a>
			  </div>
		   </div>
		 </div>
		 <!-- // Item -->
		 <!-- Item -->
		 <div class="item item-2">
		   <div class="img-fill">
			  <div class="text-content">
			    <h4>On time delivery</h4>
			    <p>We ensure that your order will be reached to you on time. Available When you want at you Price & at Your Home!</p>
			    <a href="#adithi" class="btn btn-outline-warning" >About us!</a>
			  </div>
		   </div>
		 </div>
		 <!-- // Item -->
		 <!-- Item -->
		 <div class="item item-3">
		   <div class="img-fill">
			  <div class="text-content">
			    <h4>From The Farm Today. To Your Home Tomorrow.</h4>
			    <p>Make your booking Faster! Get your order light Faster..!!</p>
			    <a href="#adithi" class="btn btn-outline-warning" >Read more</a>
			  </div>
		   </div>
		 </div>
		 <!-- // Item -->
	    </div>
	</div>
	<!-- Banner Ends Here -->

	<div id="adithi">

	</div>

	<section class="features" style="background-color: rgb(243, 239, 233); padding-top: 1.5rem;">

	  <div class="crow">
	    <h2 style="font-weight:700;font-size:2.5rem;">Adhithi Veg Corp</h2>
	    <p class="process">
		   We are an Online Groceries, Fruits and Vegetables market in Erode. We are the first online Flowerist in Erode.<br> Adhithi Veg corp is established On 22nd Aug 2020.
	    </p>
	  </div>

	  <div id="about-extra">

	  </div>

	  <!-- About Content -->
	  <div class="crow">
	    <div class="ccol span-1-of-4 box" style="padding: 1rem;">
		 <ion-icon name="alert-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
		 <h3>Why We are?</h3>
		 <p>
		   We supply Variety of Products with Best Quality. Products are Delivered at your Doorstep. Promising Value for Money. 100% farm to Kitchen.
		 </p>
	    </div>

	    <div class="ccol span-1-of-4 box">
		 <ion-icon name="refresh-circle-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
		 <h3>Fresh Products Everyday</h3>
		 <p>
		   We assure you that we should deliver fresh Vegetables & Fruits only. We procure the vegetables on everyday early morning on fresh.
		 </p>
	    </div>

	    <div class="ccol span-1-of-4 box">
		 <ion-icon name="information-circle-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
		 <h3>What You Get from Us!</h3>
		 <p>
		    We’ve taken away all the stress associated with shopping for daily essentials, and you can now order all your household products and groceries online without travelling long distances or standing in serpentine queues.
		 </p>
	    </div>

	    <div class="ccol span-1-of-4 box">
		 <ion-icon name="return-down-back-outline" class="icon-big" style="margin: 0 auto; padding-bottom: 2rem;"></ion-icon>
		 <h3>Easy Return Policy</h3>
		 <p>
		   Returning or Replacement of Products is only Available, When the Delivered Products are found to be Damaged. The Customer must Contact us within 12hours from Delivery.
		  </p>
	    </div>

	  </div>

	  <div id="point">

	  </div>

	  <div class="crow">
	    <h2>Process & Delivery Point</h2>
	    <p class="process">
		 We are taking the order on the Current day upto 10:00 pm and the products will be delivered on or before 10:00 am, the next morning. Currently, we are delivering for below pin codes :-) <br> <br> <strong>638 001, 638 002, 638 003, 638 004, 638 009, 638 011, 638 012.</strong>
	    </p>
	  </div>

	</section>






	<div class="head">
	    <div class="head-search">
		   <header>
			  <div class="searchbar">
				 <div class="search">
					<!-- <input plac\eholder="What are you looking for?"> -->
					<form method="get">
						   <i class="fa fa-search"></i>
						 <!-- <button style="width:20px;height:20p" class="btn btn-sm btn-danger" type="submit"><i class="fa"></i></button> -->
						 {{filter.form.productname}}
						 <button type="submit" href="#grid" class="fa-search-2"  style="border:0px;background-color:#ffe482;border-radius:3rem;">&#x2794;</button>
				   </form>
				 </div>
			  </div>

		   </header>
				<div class="category">
                      <a href="{% url 'fruits' %}" style="color:aliceblue;text-decoration:none;"><div class="category-1"><section class="cat-name">Fruits</section></div></a>
                       <a href="{% url 'vegetables' %}" style="color:aliceblue;text-decoration:none;"><div class="category-2"><section class="cat-name">Vegetables</section></div></a>
                       <a href="{% url 'groceries' %}" style="color:aliceblue;text-decoration:none;"><div class="category-3"><section class="cat-name">Groceries</section></div></a>
                       <a href="{% url 'flowers' %}" style="color:aliceblue;text-decoration:none;"><div class="category-4"><section class="cat-name">Flowers</section></div></a>
                   </div>
                   <div class="category_sub">
                    <div class="row-1">
                      <a href="{% url 'fruits' %}" style="color:aliceblue;"><div class="category-1"><section class="cat-name">Fruits</section></div></a>
                      <a href="{% url 'vegetables' %}" style="color:aliceblue;"><div class="category-2"><section class="cat-name">Vegetables</section></div></a>
                    </div>

                    <div class="row-2">
                      <a href="{% url 'groceries' %}" style="color:aliceblue;"><div class="category-3"><section class="cat-name">Groceries</section></div></a>
                      <a href="{% url 'flowers' %}" style="color:aliceblue;"><div class="category-4"><section class="cat-name">Flowers</section></div></a>
                    </div>

                </div>
			 <a class="header-bottom" id="myBtn1"  href="#">More categories</a>
	<!-- <div class="row"> -->
		<!-- <th><h5>Total:<strong> ₹{{order.get_cart_total|floatformat:2}}</strong></h5></th><br> -->


		<div class="container-fluid" style="margin-top: 2rem;" id="grid">
			<div class="row" style="background-color: rgb(255, 255, 255);padding: 0;">
				{% for product in products %}
				<div class="col border-right" >
                      <div class="grid-img">
					  <a href="{% url 'viewproduct' product.id %}" class="product">
					{% if product.image %}
	   				   <img src="{{product.image.url}}" alt="Onion!"  class="rounded">
	   				   {% else %}
	   				   <img src="{% static 'images/default.png' %}" alt="Onion!" class="rounded">
	   				   {% endif %}
	                      </a>
				  </div>
                        <br>
				    <div style="padding:0.4em;padding-bottom:0" >{{product.name}}</div>
				    <!-- <br> -->
                        <div class="ctrl-btn" style="padding:0.5rem;">
					 <h6 style="padding-left: 30px; padding-top:0px;"><s>₹{{product.market_price}}</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹{{product.our_price}}</strong></span></h6>
					 <hr style="margin:0.5rem;">
                          <button type="button" data-product="{{product.id}}" data-action="add" data-page="home" data-type="{{product.types}}"  name="add-to-cart" class="btn btn-info add-btn update-cart" style="display: inline;">Add to Cart</button>
                          <!-- <a  href="{% url 'viewproduct' product.id %}" style="display: inline;">View</a> -->
                          <div class="dropdown" style="display: inline; padding-left: 3rem;">
                            <select class="btn btn-outline-warning btn-sm  dropdown-toggle"  id="{{product.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="dropdown-menu" >
						<option class="dropdown-item" value="{{product.get_types_display}}">{{product.get_types_display}}</option>
						{% if product.get_types_display != "count" %}
	   						{% for i in list %}
	   						   <!-- <option value="{{ i }}">{{ i }} grams</option> -->
							   <option class="dropdown-item" value="{{i}}">{{i}} gm</option>
	   						{% endfor %}
	   					{% endif %}

                            </div>
				   		</select>
                          </div>
                        </div>
                      </div>
    			{% endfor %}
		   </div>
		 </div>






	<div class="container-fluid" id="grid">

		<div class="row" style="background-color: rgb(255,255,255);padding: 0 20px;">
			{% for flower in flowers %}
			<div class="col">
			  <div class="grid-img">

				  <a href="{% url 'viewflower' flower.id %}" class="product">
				   {% if flower.image %}
   				   <img src="{{flower.image.url}}" alt="Onion!" class="rounded">
   				   {% else %}
   				   <img src="{% static 'images/default.png' %}" alt="Onion!" class="rounded">
   				   {% endif %}
                      </a>

			    </div>
			    <br>
			    <div class="ctrl-btn">
				 <button type="button" data-product="{{flower.id}}" data-action="add" data-category="{{flower.category}}" data-page="home" data-type="{{flower.types}}"  name="add-to-cart" class="btn btn-info add-btn update-cart" style="display: inline;">Add to Cart</button>
				 <!-- <a  href="{% url 'viewflower' flower.id %}" style="display: inline;">View</a> -->
				 <div class="dropdown" style="display: inline; padding-left: 75px;">
					 <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{flower.category}}</button>
				 </div>
				 <hr>
				 <h6 style="padding-left: 30px; padding-top:0px;"><s>₹{{flower.market_price}}</s>   <span style="font-size: 1.7em; padding-left: 2.5em;"><strong>₹{{flower.our_price}}</strong></span></h6>
			    </div>
			  </div>
		{% endfor %}
		</div>
	   </div>
	</div>
</div>

<script type="text/javascript">
	var btn1 = document.getElementById("myBtn1");

	btn1.onclick = function() {
	  modal.style.display = "block";
	}
</script>

{% endblock content %}
