{% extends 'order/main.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

          <link rel="stylesheet" href="{% static 'css/zstore-core.css' %}">




         <!-- <div class="cart-basic">
           <div style="margin-top: 5rem;">
               <a class="go-home" href="/"><span style='font-size:1.5rem;'>&#8592; </span>Continue shopping</a>

           </div>
       </div> -->

       <div data-theme-content-container="theme-content-container" class="theme-content-area " style="">
         <div class="theme-content-container theme-product-details-style-07">
           <div class="theme-content-area-inner">
             <div class="theme-section " data-zs-product-id="294396000000035968">
               <div class="zpcontainer ">
                 <div class="theme-product-detail-container">
                   <div class="theme-product-detail-column theme-product-detail-image-container">
                     <div class="theme-product-detail-image">
                       <div class="theme-product-detail-image-inner hb-lightbox" data-lightbox-container="prod_images_grid_294396000000035968" data-lightbox-options="thumbs:true, theme:light, gridclick:false, thumbs-img-format:src ">
                         <img  src={{pro.image.url}} data-detail-image="theme-detail-image-294396000000035968" data-lightbox-detailimage="" data-lightbox-index="0">
                       </div>
                     </div>
                   </div>
                 <div class="theme-product-detail-column theme-product-detail-varients-container"><div class="theme-product-name"><h1>{{pro.name}}</h1>
                 </div>
     <div class="theme-product-detail-price-area" data-zs-pricings="" data-zs-variant-id="294396000000035964">
       <span class="theme-product-price" style="color:black;" data-zs-selling-price="5.0"> {{pro.our_price}} </span>
     </div>
     <div class="theme-product-stock-availability-details"></div>
     <div class="theme-product-varients-area">
       <div class="theme-product-varients-row" data-nostock-cart-add="theme-nostock-cart-add">
         <div class="theme-product-variant theme-product-quantity-cart-container">
           <!-- <div class="theme-product-variant-label"> Choose Quantity </div> -->
     <div class="theme-product-varient-quantity">
       <!-- <div class="theme-product-quantity-spinner">
         <input class="theme-quantity-decrease" onclick="decreaseCount(this)" type="button">
         <input name="qty" title="quantity" type="text" maxlength="999" onkeypress="return productQuantity(event);" value="1" data-quantity="294396000000035968" data-theme-quantity="" data-zs-quantity=""><input class="theme-quantity-increase" onclick="increaseCount(this)" type="button"></div> -->





     <!-- <div style="background-color: #ffc107; border-radius: 20px;" class="theme-cart-button zpbutton zpbutton-type-primary zpbutton-size-lg zpbutton-full-width" data-zs-add-to-cart="" data-zs-product-variant-id="294396000000035964">
       <span data-theme-cart-button-text="theme-cart-button-text" style="color: black;">  </span>
       <span class="theme-cart-button-loading-container" data-theme-cart-button-loading="theme-cart-button-loading" style="display:none;"> Loading…
         <div class="theme-cart-button-loading-dots"><span></span><span></span><span></span></div>
       </span>
     </div> -->
     <p id='id' data-proid={{pro.id}}>
          <button id='addtocart' type="button" data-product="{{pro.id}}" data-action="add" data-page="not" data-type="{{pro.types}}"  name="add-to-cart" class="btn btn-info add-btn update-cart" style="display: inline;">Add to Cart</button>
     </p>
     <div id= 'plusminus'  style="display:none;text-align:centre;" >
                    <!-- <td>
                         ₹{{items.product.price|floatformat:2}}/kg
                    </td> -->
                    <div style="text-align: center;font-size: 1.5rem;color: black;">
                         {{items.product.type}}
                    </div>
                    <div class="">
                         <div style="margin: auto 39%; color: black; font-size: 1rem;">
                              <img data-product="{{pro.id}}" data-type="{{items.product.type}}" data-action="remove" class=" update-cart"  style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;"src="{% static  '/images/minus.png' %}" alt="minus" srcset="">
                              {%if items.product.type == "grams"%}
                              <span style="padding: 10px;">{{items.quantity|floatformat:0}}</span>
                              {%elif items.product.type == "count"%}
                              <span style="padding: 10px;">{{items.quantity|floatformat:0}}</span>
                              {%else%}
                              <span style="padding: 10px;">{{items.quantity|floatformat:2}}</span>
                              {%endif%}
                              <img  data-product="{{pro.id}}"  data-type="{{items.product.type}}" data-page="not" data-action="add" class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;" src="{% static  '/images/plus.png' %}" alt="plus" srcset="">
                         </div>
                    </div>
                         <div style="text-align: center;font-size: 1.5rem;color: black ;margin-top:1rem;">
                              ₹{{items.get_total|floatformat:2}}
                         </div>
                         <div class="" style="align-items: center; margin: 0 30%; padding: 0 8%;">
                              <button data-product="{{items.product.id}}" data-remove="true" data-type="{{item.product.type}}" data-page="not" data-action="remove" class="update-cart btn btn-danger" style="" >Delete</button>
                         </div>
     </div>
     <div class="container pt-3">
       <h2>Description</h2>
     </div>
     <div class="" style="color:black;font-size:1rem;">
          {{pro.desc}}
     </div>
     </div>
     </div></div></div></div></div></div></div><div class="theme-section"><div class="zpcontainer"><div class="zprow"><div class="zpcol-md-12 zpcol-sm-12"><div class="theme-product-ratio" data-zs-recommended-products=""></div>
     </div></div></div></div></div></div></div>





























<!--
<div style="margin-top:50px">

     <img src="{{pro.image.url}}" alt="">

     <p id='id' data-proid={{pro.id}}>
          {{pro.name}}
          <button id='addtocart' type="button" data-product="{{pro.id}}" data-action="add" data-page="not" data-type="{{pro.types}}"  name="add-to-cart" class="btn btn-info add-btn update-cart" style="display: inline;">Add to Cart</button>
          {{pro.our_price}}<br>
          {{pro.market_price}}
     </p>


     <div id= 'plusminus'  style="display:none;" >

          <tr >


                    <td>
                         ₹{{items.product.price|floatformat:2}}/kg
                    </td>
                    <td>
                         <img data-product="{{pro.id}}" data-type="{{items.product.type}}" data-action="remove" class=" update-cart"  style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;"src="{% static  '/images/minus.png' %}" alt="minus" srcset="">
                         {%if items.product.type == "grams"%}
                         <span style="padding: 10px;">{{items.quantity|floatformat:0}}</span>
                         {%elif items.product.type == "count"%}
                         <span style="padding: 10px;">{{items.quantity|floatformat:0}}</span>
                         {%else%}
                         <span style="padding: 10px;">{{items.quantity|floatformat:2}}</span>
                         {%endif%}
                              <img  data-product="{{pro.id}}"  data-type="{{items.product.type}}" data-page="not" data-action="add" class="update-cart" style="width:1rem;height:1rem;border:1px solid black;background-color: white;cursor:pointer;" src="{% static  '/images/plus.png' %}" alt="plus" srcset="">
                         </td>
                         <td>
                              {{items.product.type}}
                         </td>
                         <td>
                              ₹{{items.get_total|floatformat:2}}
                         </td>
                         <td>
                              <img data-product="{{items.product.id}}" data-remove="true" data-type="{{item.product.type}}" data-page="not" data-action="remove" class="update-cart" style="width:1rem;height:1rem;cursor:pointer;" src="{% static  '/images/cancel.svg' %}" alt="cancel">
                         </td>
                    </tr>
     </div>


</div> -->



<script type="text/javascript">

     let x = document.getElementById('id');
     let pro_id = x.dataset.proid
     if (cart[pro_id] !== undefined)
     {
          console.log(cart[pro_id]);
          let b = document.getElementById('addtocart');
          b.style.display = "none";
          let a = document.getElementById('plusminus');
          a.style.display = "block";
     }


</script>
{% endblock content %}
